@import "normalize";
@import "modern-business";
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
  h1 {
    color: white;
  }
  
  h2 {
    text-align: center;
    
    p{
     text-align: center;
    }

  }

  p{
    padding: 5px 
  }
  a {
    text-decoration: none;
    color: gray;
    padding: 15px
  }
}

div, .section, .lead {
	width: 100%;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.row {
  clear: both;
  overflow: auto;
  padding-bottom: 50px;
}

.img {
	width: 100%;
}

.col-lg-12 { 
  width: 100%;
}

.col-lg-4 {
	width: 33%;
	display: inline-block;
	border: 2px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: text-top;
}

.col-lg-6 {
	width: 45%;
	display: inline;
  float: left;
  text-align: left;
  margin-right: 2.5%;
  margin-left: 2.5%;
  h2{
    text-align: left;
  }
  .img-responsive {
    display: inline;
  }
}

.navbar-fixed-top{
  top: 0;
  position: absolute;
  width: 100%;
}

.navbar-header {
	background: black;
	color: gray;
	padding-top: 15px;
	padding-bottom: 15px;
  float: left;
    a:hover {
      color: white;
  }
}

.navbar-brand {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: gray;
}

.img-home-portfolio, .img-customer, .portfolio-item {
  max-width: 100%
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.section {
	display: block;
	clear: both;
}

section, .section-colored, .text-center {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 0;
}



 
